<html>

<head>
  <meta charset="utf-8">
  <title>Mocha Koans - Learn Mocha Using Mocha</title>
  <link rel="stylesheet" href="css/bootstrap.css" />
  
</head>

<body>
  <div id="container">
    <div class="hero-unit" id="user-container">

    </div>

  </div> 

  <!-- underscore template -->
  <script id="template_user" type="text">
    <img src="http://flickholdr.com/100/100/<%= tag %>"></img>
    <ul>
      <li>Name: <%= name %></li>
      <li>Age: <%= age %></li>
      <li>Horse Size: <%= horse_size %></li>
    </ul>
  </script>

  <script src="js/lib/jquery.js"></script>
  <script src="js/lib/underscore.js"></script>
  <script src="js/lib/backbone.js"></script>
  <script src="js/app.js"></script>

</body>

</html>